<MudNavMenu Class="w-100 sisged-navmenu" Rounded="true" Bordered="true">
    <div class="d-flex flex-row gap-2 px-4">
        <MudImage Src="/images/step2.png" Width="50" Height="50"></MudImage>
        <MudText Typo="Typo.h5" Class="align-self-center">SISGED</MudText>
    </div>
    <MudDivider Class="my-2" />
    @foreach (var interfacePermission in InterfacePermissions)
    {
       <MudNavLink Icon="@interfacePermission.Icon" IconColor="Color.Secondary" Href="@interfacePermission.Url" Class="text-white"
                Match="GetLinkMatch(interfacePermission)">@interfacePermission.Label</MudNavLink>
    }
</MudNavMenu>


