<MudGrid Class="pointer notification" @onclick="(() => NavigateTo())">
    <MudItem xs="2" sm="2" md="2" lg="2" xl="2">
        <MudAvatar Color="Color.Info" Image="@NotificationInfo.SenderUserImage" Size="Size.Large"></MudAvatar>
    </MudItem>
    <MudItem xs="9" sm="9" md="9" lg="9" xl="9">
        <p>
            @((MarkupString)NotificationInfo.Description)
        </p>
        <div class="notification-time">@notificationTimeFromNow</div>
    </MudItem>
    <MudItem xs="1" sm="1" md="1" lg="1" xl="1" Class="align-self-center">
        <div class="notification-state @NotificationState" @onclick="(() => UpdateNotificationStateAsync(NotificationInfo.Id))" @onclick:stopPropagation="true"></div>
    </MudItem>
</MudGrid>

