<div class="d-flex fixed virtual-message">
    <div class="align-self-center">
        <MudAvatar Color="Color.Info" Image="../images/virtual-helper-user.jpg" Alt="Consultor virtual" />
    </div>
    <div>
        <div class="speech virtual-speech">
            <label>Bienvenido Josue Stefano,</label>
            <br />
            <label class="message">@letters</label>
        </div>
    </div>
</div>

