.speech {
    color: var(--mud-palette-secondary);
    position: relative;
    border-radius: 10px;
    width: 100%;
    margin-left: 20px;
    height: 100px;
    padding: 10px;
    text-align: start !important;
    background-color: #F2F2F2;
}

.virtual-speech {
    width: 500px;
    background-color: #3d5a60;
    color: white;
}

.vertical-speech {
    color: var(--mud-palette-secondary);
    position: relative;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    height: 100px;
    padding: 10px;
    text-align: start !important;
    background-color: #F2F2F2;
}

    .vertical-speech::after {
        position: absolute;
        content: '';
        border: 20px solid transparent;
        border-right-color: #F2F2F2;
        border-bottom: 0;
        left: 50%;
        margin-left: -40px;
        top: -20px;
    }

    

.speech label, .vertical-speech label {
    color: var(--mud-palette-secondary);
    font-size: 15px;
}

.speech.virtual-speech label {
    color: white;
}

.speech::after {
    position: absolute;
    content: '';
    border: 20px solid transparent;
    border-right-color: #F2F2F2;
    border-left: 0;
    left: -20px;
    margin-top: -20px;
    top: 50%;
}

.speech.virtual-speech::after {
    border-right-color: #3d5a60;
}

.speech .evaluator-comment {
    margin-top: 0px !important;
}

.speech .evaluator-comment .mud-input {
    margin-top: 0px !important;
}
    .speech .evaluator-comment .mud-input::before, .speech .evaluator-comment .mud-input::after {
        border: none !important
    }

.virtual-speech .message {
    display: block;
    max-height: 100px;
    overflow-y: auto;
    position: relative;
    overflow-x: hidden;
}


.virtual-speech .message::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 18px;
    border-right: 2px solid white;
    animation: blink 0.5s infinite ease;
}

@keyframes blink {
   0% {
       opacity: 0;
   }
   100% {
       opacity: 1;
   }
}

@media only screen and (max-width: 550px)  {
    .virtual-speech {
        width: auto;
    }
}